body {
    background-color: #d5d19c;
}

#titulo {
    color: tomato;
}

p.especial {
    color: mediumseagreen;
}

p.texto {
    color: slateblue;
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

* {
    font-size: 24px;
    /*color: black;*/
}

/* esto es un comentario*/

/*
.color {
    color: #ff0000;
}
.color {
    color: rgb(0, 255, 255);
}
*/

.color {
    /*border: 5px red solid;*/
   border-style: solid; 
   border-color: blue;
   border-radius: 5px;
   border-width: 2rem;
}

#fondo {
    background-color: rgba(255, 0, 0, 0.3);
    /*opacity: 0.3;*/
    height: 200px;
    background-image: url('flor..png');
    
    background-repeat: repeat-y;
    background-position: center top 1px;
    background: rgba(255, 0, 0, 0.3) url('flor..png') repeat-y center bottom / 100px 100px;
}

.margen {
    background: chocolate;
    margin: 15px 30px 30px 30px;
    padding: 25px 25px 25px 25px;
    border: brown solid 5px;
    border-radius: 10px;
    outline: solid slategray 5px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px 5px 5px gainsboro;
}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 5px 5px 5px red;
}

a:link {
    color: blueviolet;
    border-radius: 5px;
    border: solid;
    background-color: aliceblue;
    padding: 2px;
}

/*a:visited {
    color: black;
} 
Esta etiqueta sirve para marcar cuales son los links a los cuales yo ya visite.
Asi que, sinceramente lo use muy poco porque no me interesa tanto ver este detalle. Pero es importante saber esto.
Si quiero usar las otras dos etiquetas siguientes, tengo que hacerlo sin tener esta etiqueta en cuenta.*/

a:hover {
    color: darkred;
}

a:active {
    color: cyan;
}

ul {
    background-color: cornsilk;
    list-style-type: upper-roman;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px brown;
    padding: 5px;
}

th {
    background-color: midnightblue;
    color: whitesmoke;
    text-align: left;
}

tr:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}