body {
    background-color: #eee;
}

p {
    color: darkslategrey;
    text-align: center;
    word-spacing: 10px;
    text-shadow: 3px 3px 5px black;
    /*Los primeros pixeles nos marca el movimiento de la sombra a la derecha.
    El segundo nos marca el movimiento hacia abajo de la sombra.
    Y el tercero nos marca la densidad del sombreado, siendo 0 la densidad mas fuerte.*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 100;
}

a {
    text-decoration: overline;
    text-transform: lowercase;
    letter-spacing: 5px;
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    border: solid 1px black;
}

a:link {
    color: coral;
}

a:visited {
    color: crimson;
}

a:hover {
    color: darkblue;
    background-color: burlywood;
}

a:active {
    color: white;
}

ul {
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding-left: 0px;
}

ul li {
    list-style-type: none;
}

li {
    border-bottom: solid 1px #ddd;
    padding: 15px;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: cadetblue;
}

td {
    border: solid 1px #ddd;
    padding: 8px;
}

table th {
    background-color: darkseagreen;
    color: white;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

#over {
    width: 100px;
    height: 100px;
    overflow: scroll;
}